{% extends 'homepage/index.html' %}

{% load crispy_forms_tags %}

{% block content %}

	{% if messages %}
		{% for message in messages %}
			<div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
				{{message}}
			</div>
			<br>
		{% endfor %}
	{% endif %}

	<div class="form-group">
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			{{form|crispy}}
			<button class="btn btn-success" type="submit">Submit</button>
		</form>
	</div>
{% endblock content %}