{% extends 'homepage/index.html' %}
{% load mathfilters %}

{% block content %}

	{% if messages %}
		{% for message in messages %}
			<div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				{{message}}
			</div>
		{% endfor %}
	{% endif %}

	<div class="card" style="width: 35rem;">
		<ul class="list-group list-group-flush">
			{% for code in codes %}
				<div class="card-body ">
					<li class="list-group-item border border-primary">{{code.problem_code}}
							{% if code.verdict == 'WA' %}
								&nbsp; <i class="fa fa-times text-danger text-large" aria-hidden="true"></i>
							{% elif code.verdict == 'AC' %}
								&nbsp; <i class="fa fa-check text-success text-large" aria-hidden="true"></i>
							{% elif code.verdict == 'TLE' %}
								&nbsp; <i class="fa fa-clock-o text-warning text-large" aria-hidden="true"></i>
							{% elif code.verdict == 'CE' %}
								&nbsp; <i class="fa fa-question text-secondary text-large" aria-hidden="true"></i>
							{% endif %}
						<a class="btn btn-primary btn-sm float-right" href="{% url 'display-submitted-code' code.author.username code.id %}">View</a>
						<div class="float-right mx-3">{{ code.created_on }}</div>
					</li>
				</div>
			{% endfor %}
		</ul>
	</div>
	<br>

{% endblock content %}