{% extends 'homepage/index.html' %}
{% load mathfilters %}

{% block content %}

	{% if messages %}
		{% for message in messages %}
			<div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				{{message}}
			</div>
		{% endfor %}
	{% endif %}

	<div class="card" style="width: 35rem;">
		<ul class="list-group list-group-flush">
			{% for code in codes %}
				<div class="card-body ">
					<li class="list-group-item border border-primary">{{code.problem_code}}
							{% if code.verdict == 'WA' %}
								&nbsp; <i class="fa fa-times text-danger text-large" aria-hidden="true"></i>
							{% elif code.verdict == 'AC' %}
								&nbsp; <i class="fa fa-check text-success text-large" aria-hidden="true"></i>
							{% elif code.verdict == 'TLE' %}
								&nbsp; <i class="fa fa-clock-o text-warning text-large" aria-hidden="true"></i>
							{% elif code.verdict == 'CE' %}
								&nbsp; <i class="fa fa-question text-secondary text-large" aria-hidden="true"></i>
							{% endif %}
						<a class="btn btn-primary btn-sm float-right" href="{% url 'display-submitted-code' code.author.username code.id %}">View</a>
						<div class="float-right mx-3">{{ code.created_on }}</div>
					</li>
				</div>
			{% endfor %}
		</ul>
	</div>
	<br>

	<nav aria-label="Page navigation" style="bottom: 0;">
		<ul class="pagination justify-content-center">
			{% if codes.paginator.num_pages != 1 %}
				<li class="page-item"><a class="page-link" href="?page=1">First</a></li>
			{% else %}
				<li class="page-item disabled"><a class="page-link" href="#">First</a></li>
			{% endif %}
			{% if codes.has_previous %}
				<li class="page-item"><a class="page-link" href="?page={{ codes.previous_page_number }}">&laquo;</a></li>
			{% else %}
				<li class="page-item disabled"><a class="page-link" href="#">&laquo;</a></li>
			{% endif %}

			{% for i in codes.paginator.page_range %}
				{% if codes.number == i %}
					<li class="page-item active"><a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</span></a></li>
				{% elif codes.number > i|add:"-5" and codes.number < i|add:"+5"%}
					<li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
				{% endif %}
			{% endfor %}
			{% if codes.has_next %}
				<li class="page-item"><a class="page-link" href="?page={{ codes.next_page_number }}">&raquo;</a></li>
			{% else %}
				<li class="page-item disabled"><a class="page-link" href="#">&raquo;</a></li>
			{% endif %}
			{% if codes.paginator.num_pages != page.number %}
				<li class="page-item"><a class="page-link" href="?page={{ codes.paginator.num_pages }}">Last</a></li>
			{% else %}
				<li class="page-item disabled"><a class="page-link" href="#">Last</a></li>
			{% endif %}
		</ul>
	</nav>

{% endblock content %}