{% extends 'homepage/index.html' %}
{% load mathfilters %}

{% block content-unindent %}
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
		<script type="text/javascript">
			google.charts.load('current', {'packages':['corechart']});
			google.charts.setOnLoadCallback(drawChart);

			function drawChart() {

				var data = google.visualization.arrayToDataTable([
					['Verdict', 'Count'],
					// ['non-AC',  {{request.user.profile.problems_tried|sub:request.user.profile.problems_solved}}],
					['WA',  {{user.profile.problems_WA}}],
					['AC',      {{user.profile.problems_solved}}],
					['TLE',  {{user.profile.problems_TLE}}]
				]);

				var options = {
					title: 'Overall Graph',
					colors: ['#ee3b3b', '#00FF00', '#ffb90f']
				};

				var chart = new google.visualization.PieChart(document.getElementById('piechart'));

				chart.draw(data, options);
			}
		</script>
	<div class="row">
		<div class="col-md-1 sm-1"></div>
		<div class="col-md-4 sm-6">
			User Image
			<br><br><br>
			Username : {{user.username}} 
			<br>
			Other user datas
			<br>

			{% if user.username == request.user.username%}
				<a class="btn btn-info my-2" href="{% url 'user-submissions' user.id %}">My Submissions</a> <br>
				<a class="btn btn-info my-2" href="{% url 'user-profile-edit' user.username %}">Edit Profile</a>
			{% endif %}
		</div>
			<div id="piechart" class="col-md-4 sm-6" style="width: 900px; height: 500px;"></div>
	</div>
{% endblock content-unindent %}