{% extends 'homepage/index.html' %}

{% load crispy_forms_tags %}

{% block content %}

	{% if messages %}
		{% for message in messages %}
			<div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				{{message}}
			</div>
			<br>
		{% endfor %}
	{% endif %}

	<h2> {{ post.title }} </h2>
	<br>
	<div class="pl-5">
		<p> {% autoescape off %} {{ post.description }} {% endautoescape %} </p>
		<small><a href="{% url 'user-profile' post.author.username %}" class="btn btn-outline-info btn-sm float-right">{{ post.author.username }}</a> </small>	{% if post.author == request.user %} <a href="{% url 'delete-post' post.id %}" style="text-decoration: none;" class="float-right pr-2"><i class="fa fa-trash fa-2x" aria-hidden="true"></i> &nbsp; </a> {% endif %} 	
	</div>
	<hr>

	<br><br><br>
	<h5> Comments: </h5>

	<div class="mx-5 px-5">
		{% for comment in comments %}
			<p> {% autoescape off %} {{ comment.description }} {% endautoescape %}<a href="{% url 'user-profile' comment.author.username %}" class="float-right">{{ comment.author.username }}</a> {% if comment.author == request.user %} <a href="{% url 'delete-comment' comment.id %}" class="float-right" style="text-decoration: none;"> <i class="fa fa-trash" aria-hidden="true"></i> &nbsp; </a> {% endif %} <hr size="5"> </p>
		{% endfor %}
	</div>
	<hr>

	<br><br><br>
	<form action="{% url 'comment' post.id %}" method="POST">
		{% csrf_token %}
		{{ form|crispy }}
		<button type="submit">Comment</button>
	</form>

{% endblock content %}